.loginNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 10px;
  height: auto;
}
.login {
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}
legend {
  text-align: center;
}
.form {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: auto;
}
.user {
  gap: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pass {
  gap: 10px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

input {
  padding-left: 10px;
}
.submit {
  border: none;
  background: #2a254b;
  color: white;
  height: auto;
  width: 100px;
  transition: ease-in-out 300ms;
  text-align: center;
}
.submit:hover {
  transform: scale(1.1);
}
